<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>個人檔案頁面</title>
    <style>
      .posts {
        padding: 2rem;
      }
      section.user-info img {
        border-radius: 50%;
        display: inline-block;
        padding: 1rem 0.5rem;
      }
      section.user-info h1 {
        padding: 1rem 0.5rem;
      }
      .flex-container {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <section class="user-info">
      <div class="flex-container">
        <img src="<%= user.thumbnail %>" alt="個人圖片" />
        <h1><%= user.name %>的個人日記</h1>
      </div>
      <ul>
        <li>你的信箱：<%= user.email %></li>
        <li>最近一次登入的時間為：<%= user.date %></li>
      </ul>
    </section>

    <section class="posts">
      <% if (posts.length > 0) { %> <% for (let i = 0; i < posts.length; i++) {
      %>
      <div class="card" style="width: 18rem; margin: 1rem">
        <form action="/profile/modify" method="POST">
          <div class="card-body">
            <textarea name="_id" style="display: none">
<%= posts[i]._id %></textarea
            >
            <div class="card-title">
              <h5 class="card-old-title"><%= posts[i].title %></h5>
              <input
                type="text"
                name="title"
                class="card-new-title"
                style="display: none"
              />
            </div>
            <div class="card-text">
              <p class="card-old-text"><%= posts[i].content %></p>
              <textarea
                name="content"
                class="card-new-text"
                style="display: none"
              ></textarea>
            </div>
            <a href="#" class="btn btn-primary"><%= posts[i].date %> </a>
            <a class="modify" onclick="rewrite()">修改</a>
            <button
              type="submit"
              class="save"
              onclick="save()"
              style="display: none"
            >
              儲存
            </button>
          </div>
        </form>
      </div>

      <% } %> <% } %>
    </section>

    <script src="/app.js"></script>
  </body>
</html>
